<div class="row">
  <div class="col-md-12">
    <div class="display-4">
      投稿詳細
    </div>
  </div>
</div>


<div class="row">
	<div class="card" style="margin-left: 100px;">
		<div class="card-item">
			<div class="row">
   			<div class="col-md-12">
   				<div class="card-image">
   					<figure class="post-image">
							<%= attachment_image_tag @post, :image, size: "700x600" %>
						</figure>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card-title">
								<%= @post.title %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table">
								<caption></caption>
        				<tr>
          				<th　scope="col"><div class="toukou">投稿</div></th　scope="col">
          			</tr>
          			<tr>
          				<td><%= @post.body %></td>
          			</tr>
        			</table>
      			</div>
    			</div>
      		<div class="row">
      			<div class="col-md-8">
      				<div class="edit-btn">
        			<% if @post.user.id == current_user.id %>
								<%= link_to"編集画面へ", edit_post_path(@post), class: "btn btn-success" %>
							<% end %>
						</div>
					</div>
						<div class="col-md-4">
				<!-- いいね機能 -->
							<% if current_user.already_favorited?(@post) %>
        				<%= link_to post_favorites_path(@post), method: :delete do %>
          			<i class="fas fa-heart" style="color: red;"></i>
        				<% end %>
          			<%= @post.favorites.count %>
        			<% else %>
          			<%= link_to post_favorites_path(@post), method: :post do %>
          			<i class="far fa-heart"></i>
          		<% end %>
          			<%= @post.favorites.count %>
        			<% end %>
      			</div>
    			</div>
  			</div>
			</div>
		</div>
	</div>
		<div class="col-md-5">
			<div class="card">
  			<h5 class="card-header">By<%= @post.user.name %></h5>
  			<div class="card-body">
    		<p class="card-text"><%= @post.user.profile %></p>
    		<%= link_to user_path(@post.user), class: "btn btn-primary" do %>
    			<span class="panel-icon">
          	<i class="fas fa-user" aria-hidden="true"></i>
          </span>
          <%= @post.user.name %>さんのページへ
        <% end %>
  		</div>
		</div>
	</div>
</div>